<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="cancel()">
        <ion-icon
          color="dark"
          slot="icon-only"
          name="close-circle-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Event Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list> -->
    <ion-item class="event-list">
      <ion-input
        class="formLabel"
        autocapitalize="on"
        type="text"
        placeholder="Title"
        [(ngModel)]="event.title"
      ></ion-input>
    </ion-item>

    <ion-item class="event-list">
      <ion-label class="formLabel">Start:</ion-label>
      <ion-datetime
        class="date-time"
        displayFormat="MM/DD/YYYY hh:mm A"
        pickerFormat="MMM/DD/YYYY hh:mm A"
        [ngModel]="event.startTime | formatToLocal"
        (ngModelChange)="event.startTime = onChange($event)"
        [max]="minDate + 4"
        [min]="minDate"
        
      ></ion-datetime>
    </ion-item>

    <ion-item class="event-list">
      <ion-label class="formLabel">End:</ion-label>
      <ion-datetime
        class="date-time"
        displayFormat="MM/DD/YYYY hh:mm A"
        pickerFormat="MMM/DD/YYYY hh:mm A"
        [ngModel]="event.endTime | formatToLocal"
        (ngModelChange)="event.endTime = $event"
        [max]="minDate + 4"
        [min]="minDate"
      ></ion-datetime>
    </ion-item>
    <ion-row class="ion-justify-content-center">
      <ion-button color="dark" text-align="center" (click)="save()">
        <ion-icon name="checkmark"></ion-icon> {{formButton}}
      </ion-button>
      <ion-button color="dark" text-align="center" (click)="cancel()">
        <ion-icon name="close"></ion-icon> Cancel
      </ion-button>
    </ion-row>
  <!-- </ion-list> -->
</ion-content>
