<ion-header *ngIf="!formView">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="cancel()">
        <ion-icon
          color="dark"
          slot="icon-only"
          name="close-circle-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Event Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="dayInfo" *ngIf="!formView">
    <ion-item>Today: {{ preSelectedDate | formatToStyle2 }} </ion-item>
    <ion-item *ngIf="eventSelect">
      <ion-button *ngIf="isThereAnEvent()" color="dark" (click)="editEvent(dayEvent.title, dayEvent.startTime, dayEvent.endTime)"
        >Edit Event</ion-button
      >
    </ion-item>
    <ion-item
      >Select Event
      <ion-select
        (ionChange)="selectChange()"
        [(ngModel)]="selectEvent"
        interface="action-sheet"
        >Select Event
        <ion-button></ion-button>
        <ion-select-option *ngFor="let day of dayEvent" [value]="day"
          ><br />{{ day.title }}<br />{{ day.startTime | formatToStyle}}
          <br />{{ day.endTime | formatToStyle }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    Events:
    <ion-item *ngIf="!isThereAnEvent()"><ion-button color="dark" (click)="addEvent()">Add Event</ion-button></ion-item>
    <ion-item *ngFor="let event of dayEvent">
      <br />
      Event title:{{ event.title }}<br />
      Start: {{ event.startTime | formatToStyle2 }}<br />
      End: {{ event.endTime | formatToStyle2 }}
    </ion-item>
  </ion-list>
  <app-form *ngIf="formView"></app-form>
</ion-content>
