    [col-1] {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 8.33333%;
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 14.285714285714286%;
      width: 14.285714285714286%;
      max-width: 14.285714285714286%;
    }

    .label {
      color: white;
    }

    .nav-title-text {
      color:white;
    }
    .col {
      text-align: center;
      padding: 7px;
    }
    .last-month, .next-month {
      color: #999999;
      font-size: 90%;
    }
    .currentDate, .otherDate {
      padding: -3px;
    }
    .currentDate {
      border: solid;
    border-right-width: medium;
    border-left-width: medium;
    border-left-width: 3px;
    border-right-width: 3px;
    border-radius: 30px;
    width: 35px;
    position: absolute;
    top: 7%;

    }
    .currentDate {
        // background-color: #A9BCD0;
        // border: solid;
        // border-left-width: 3px;
        // border-right-width: 3px;
        // border-radius: 30px;
        // border: solid;
        // display: inline-block;
        // border-radius: 50%;
        // width: 30px;
        // height: 30px;
        // margin-top: -3px;
        // font-size: 20px;
        // border: solid;
        // position: relative;
        // display: inline-block;
        // width: 100%;
        // height: 32px;
        // padding: 0% 0;
        // border-radius: 75%;
    }
    .calendar-header {
      // margin-top: 15ex;
      padding: 10px;
      // background-color: #58A4B0;
      color: #FFFFFF;
      background-image: linear-gradient(to bottom right, #9bc3ca, #215fbf);
      text-align: center;
    }
    .event-bullet {
      margin: 0px auto;
      height: 5px;
      width: 5px;
      background-color: #1aa8cc;
      border-radius: 30px;
      position: absolute;
      right: 53%;
      top: 85%;
    }
    .event-bullet-payday {
      margin: 0px auto;
      height: 5px;
      width: 5px;
      background-color: black;
      border-radius: 30px;
      position: absolute;
      right: 43%;
      top: 85%;
    }
    .event-bullet-holiday {
      margin: 0px auto;
      height: 5px;
      width: 5px;
      background-color: red;
      border-radius: 30px;
      position: absolute;
      right: 33%;
      top: 85%;
    }
    .selected-date {
      width: 20px;
      height: 2px;
      background-color: blue;
    }
    .unselected-date {
      border: none;
    }
    .calendar-body {
      // background-color: #D8DBE2;
      // background-image: url(https://blog.fitshipper.com/wp-content/uploads/2017/10/usps.png);
      // background-repeat: no-repeat;
      // background-position: center;
      // background-size: 50ex;
      .grid {
        padding: 0;
      }
      .col:last-child {
        border-right: none;
      }
      .calendar-weekday, .calendar-date {
        text-align: center;
        margin: 0;

      }
      .calendar-weekday {
        font-weight: bold;
        border-bottom: solid 1px #575B7D;
        // background-color: #A9BCD0;
      }
      .calendar-date {
        // border-top: solid 1px #01020c;
        border: solid 1px #01020c;
      }
      .day-month {
        // border-style: groove;
        display: flex;
        border: solid 1px black;
        font-size: 22px;
        // font-weight: bold;
        text-shadow: -1px 0 #333436, 0 1px #333436, 1px 0 #333436, 0 -1px #333436;
        height: 40px;
        justify-content: center;
        // background-color: blue;
      }
      .day-of {
        font-size: 22px;
        // font-weight: bold;
        text-shadow: -1px 0 #333436, 0 1px #333436, 1px 0 #333436, 0 -1px #333436;
      }
      .otherDate {
        font-size: 22px;
        // font-weight: bold;
        text-shadow: -1px 0 #333436, 0 1px #333436, 1px 0 #333436, 0 -1px #333436;
      }
    }
    .donate{
      border-color: #D8DBE2;
    }
    .segment-ios .segment-button {
      background-color: #1B1B1E;
    }

    ion-item-options {
      margin-right: 40px;
    }
    // #container {
    //   overflow: scroll;
    //   white-space: nowrap;
    //   ::-webkit-scrollbar {
    //     display: none;
    //   }
    // }
    // .scroll-content {
    //   overflow-y: hidden;
    // }
    // .scroll {
    //   overflow: auto;
    // }