<!-- <ion-header class="nav-title"><br>

  <ion-toolbar>
    <ion-title class="nav-title">
      <span class="nav-title-text">Postal Calendar</span>
    </ion-title>
    <ion-buttons slot="start">
          <button ion-button (click)="presentPopover($event)">
      <button ion-button href="#" onclick="window.open('https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5EYG7ARZFFPJJ&source=url', '_system', 'location=yes')">
        <ion-icon slot="icon-only" name="arrow-dropdown"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons slot="end">
      <button ion-button (click)="addEvent()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class='no-scroll' id="container">
<!--   <ion-fab vertical="top" horizontal="end"> -->
    <ion-header class="calendar-header">

    <ion-row class="calendar-month">
      <ion-col col-1 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
      <ion-col col-8>{{data.date.month}} {{data.date.year}}</ion-col>
      <ion-col col-1 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
    </ion-row>
  </ion-header>

  <div class="calendar-body" (swipeleft) = swipeLeft($event) (swiperight)= swipeRight($event)>
    
<!-- <ion-card-content *ngFor= "let item of eventSource">
  <p *ngFor="let event of item.startTime">{{event}}</p>
</ion-card-content> -->
    <ion-grid fixed="true" class="ion-no-padding">
      <ion-row class="calendar-weekday">
        <ion-col>Su</ion-col>
        <ion-col>Mo</ion-col>
        <ion-col>Tu</ion-col>
        <ion-col>We</ion-col>
        <ion-col>Th</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of data.daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
        <ion-col col-1 *ngFor="let day of data.daysInThisMonth" class="day-month" (click)="selectDate(day)" [ngStyle] = "{'color': getStyleColor(day)}">
          <ng-component *ngIf="data.currentDay.getDate() == day && data.currentDay.getMonth() == data.date.currentDay.getMonth() && 
          data.currentDay.getFullYear() == data.date.currentDay.getFullYear(); then todayDate; else otherDate">
          </ng-component>
          <ng-template #todayDate>
            <div class="currentDate"><span color='calendar-day'>{{day}}</span></div>
          </ng-template>
            <span class="event-bullet" *ngIf="checkEvent(day)"></span>
            <span class="event-bullet-payday" *ngIf="checkPayday(day)"></span>
            <span class="event-bullet-holiday" *ngIf="checkHoliday(day)"></span>
          <ng-template #otherDate>
            <span color='calendar-day' class="day-of">{{day}}</span><br>
          </ng-template>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of data.daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
