<ion-header>
  <ion-toolbar>
    <ion-title>Postal Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../../assets/banner.png">
  <!-- <ion-grid> -->
    <!-- <ion-row class="rowAlign"> -->
      <!-- This app was made by me to help figure out when I had a day off and wanted to share it with others.<br><br>  -->
        <!-- This was made in Salt Lake City, Utah. If The colors are off please send me an email with the contact button. -->
        
            <div style="height: 10vh;"></div>
              <div class="rowAlign"><ion-button color="primary" (click)="gotoHome()">go to<br>Calendar</ion-button></div>
    <!-- </ion-row> -->

  <!-- </ion-grid> -->

</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-row class="paypal">
          <!-- <ion-button color="success" href="#" onclick="window.open('https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5EYG7ARZFFPJJ&source=url', '_system', 'location=yes')">Donate
          </ion-button> -->
          <ion-button (click)="purchase()">Donate</ion-button>
          <ion-button (click)="contact()">Contact</ion-button>
          <ion-button (click)="policy()">Policy</ion-button>
          
      </ion-row><br>
      <ion-row class="ion-justify-content-center">
          <span *ngFor="let c of color">
            <span [ngStyle] = "{'background-color': c, 'color': c, 'border': 'solid 1px black'}">color</span>
          </span>
        </ion-row><br>
      <ion-row class="paypal">
        <ion-item><button style='background-color: white;' (click)="selectAlert()">District <ion-icon mode='md' name='arrow-dropdown'></ion-icon> </button>    
        </ion-item>
      </ion-row>

    </ion-toolbar>
  </ion-footer>
