.enterButton {
    justify-content: center;
    align-items: center;
}
.rowAlign {
    height: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    // margin-top: 20vh;
}
.paypal {
    justify-content: center;
}
ion-select {
    min-width: 59%;
}
.colorPalette {
    height: 5px;
    width: 5px;
}
// @media all and (max-width: 500px) and (min-height: 400px) {

// }