.to-scroll {
  // height: 27vh;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  font-weight: bold;

  // ::-webkit-scrollbar {
  //   display: none;
  // }
}
.delete {
  color: #f04141;
  font-weight: bold;
  margin-left: 50%;
  font-size: medium;
  background-color: white;
}
.buttonSlide {
  width: 400px;
  text-align: center;
  padding-left: 100px;
}
.slidingItemOption {
  background-color: #f04141;
  color: black;
  font-weight: bold;
}
.paydayBullet {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 30px;
  position: absolute;
  top: 44%;
  left: 8%;
}
.holidayBullet {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 30px;
  position: absolute;
  top: 44%;
  left: 8%;
}
.eventBullet {
  height: 5px;
  width: 5px;
  background-color: #1aa8cc;
  border-radius: 30px;
  position: absolute;
  top: 44%;
  left: 8%;
}
// @media screen and (min-height: 600px) {
//   .to-scroll {
//     height: 38vh;
//   }
// }
// @media screen and (min-height: 600px) and (max-height: 667px) {
//   .to-scroll {
//     height: 32vh;
//   }
// }