
<ion-grid class="segmentGrid">
    <ion-row class="segmentContainer">
      <ion-segment color="dark" (ionChange)="segmentChanged($event)" full="true" class='md' assertive>
      <ion-segment-button mode= "md" value="payday">
        <span class="paydayBullet" ></span>Payday's
      </ion-segment-button>
      <ion-segment-button mode= "md" value="holiday">
        <span class="holidayBullet" ></span>Holiday's
      </ion-segment-button>
      <ion-segment-button mode= "md" value="self-event">
        <span class="eventBullet" ></span>My Events
      </ion-segment-button>

      </ion-segment>
    

  <!-- </ion-fab> -->

    <ion-col scrollY="true" class="to-scroll" [ngSwitch]="category">
      <ng-container>
        <ion-list *ngSwitchCase="'payday'">
          <ng-container *ngFor="let p of data.payday.currentPayday">
  <!--           <ng-container *ngIf=paydayThisMonth(p)> -->
              <ion-item>
                {{p}}
              </ion-item>
  <!--           </ng-container> -->
          </ng-container>
        </ion-list>
      </ng-container>
      <ng-container>
        <ion-list *ngSwitchCase="'holiday'">
          <ng-container *ngFor="let l of data.currentHoliday">
            <ng-container>
              <ion-item>
                {{l.name}}<br>{{l.date | formatToStyle2}}
              </ion-item>
            </ng-container>
          </ng-container>
        </ion-list>
      </ng-container>
      <ng-container>
        <ion-list class="to-scroll" scrollY="true" *ngSwitchCase="'self-event'">
          <ion-item-divider class="delete" sticky="true">
          <span ><ion-icon name="arrow-round-back"></ion-icon> Slide to delete</span></ion-item-divider>

          <ion-item-sliding #slidingItem (ionDrag)="removeItem(event, slidingItem)"  *ngFor="let event of this.data.event.currentEvent">
              <ion-item (click)="modalEvent(event)">
              {{event.title}}<br>
              Start: {{event.startTime | formatToStyle}}<br>
              End: {{event.endTime | formatToStyle}}
              </ion-item>
            <ion-item-options side="end">
              <ion-item-option class="slidingItemOption" expandable slot="bottom">
                <ion-label expandable class="buttonSlide">Delete<ion-icon name="trash"></ion-icon></ion-label>
              </ion-item-option>

            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
    </ng-container>
  <!--     <button ion-button (click) = "getEvent()">getEvent</button> -->
  <!--     <button ion-button (click) = "clearEvent()">clearEvent</button> -->

    </ion-col>
  </ion-row>
</ion-grid>