// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.no-scroll {
  --overflow: hidden;
  height: 100%;
}
.my-custom-modalCtrl-css {
  --height: 260px;
  --width: 300px;
  --box-shadow: 1px;
}
.my-custom-purchase-css {
  --height: 350px;
  --width: 300px;
}
.my-custom-select-css .popover-content {
  --height: 350px;
  --width: 300px;
  justify-content: center;
  align-items: center;
}
.my-custom-popover-css .popover-content {
  height: 40%;
  width: 75%;
  top: 20%;
  position: absolute;
  display: block;

}
ion-title {
  text-align: center;
}
ion-card {
  text-align: center;
  height: 60%;
  font-weight: bold;
}
// ion-grid {
//   height: 100%;
// }
// ion-row {
//   height: 80%;
//   width: 100%;
// }
.segmentContainer {
  // height: 10%;
  flex-flow: wrap-reverse;
  // padding-top: 10%;
  align-content: center;
}
.calendarRow {
  height: 335px;
}
.to-scroll {
  height: var(--segment-height);
}
.sc-ion-segment-ios-h.ion-color.sc-ion-segment-ios-s > .segment-button-checked, .sc-ion-segment-ios-h.ion-color.sc-ion-segment-ios-s > .segment-button-checked.activated {
  --indicator-color-checked: var(--ion-color-base);
  color: var(--ion-color-base);
  background: white;
}