// .calendarRow {
//   height: 50vh;
//   // align-items: inherit;
// }
// .segmentRow {
//  height: 40vh;
// }
// @media screen and (min-height: 668px) {
//   .calendarRow {
//     height: 43vh;
//   }
//   // .segmentRow {
    
//   // }
// }
// @media screen and (min-height: 600px) and (max-height: 667px) {
//   .calendarRow {
//     height: 49vh;
//   }
// }
// // @media screen and (min-height: 500px) {
// //   .calendarRow {
// //     height: 47vh;
// //   }
// // }
// @media screen and (max-height: 600px) {
//   .calendarRow {
//     height: 55vh;
//   }
// }